<?xml version="1.0"?>
<config>
	<modules>
		<Artera_Puntivendita>
			<version>0.2.0</version>
		</Artera_Puntivendita>
	</modules>
	<frontend>
		<routers>
			<puntivendita>
				<use>standard</use>
				<args>
					<module>Artera_Puntivendita</module>
					<frontName>puntivendita</frontName>
				</args>
			</puntivendita>
		</routers>
		<layout>
			<updates>
				<puntivendita>
					<file>puntivendita.xml</file>
				</puntivendita>
			</updates>
		</layout>
	</frontend>
	<admin>
		<routers>
			<puntivendita>
				<use>admin</use>
				<args>
					<module>Artera_Puntivendita</module>
					<frontName>puntivendita</frontName>
				</args>
			</puntivendita>
		</routers>
	</admin>
	<adminhtml>
		<menu>
			<puntivendita module="puntivendita">
				<title>Punti Vendita</title>
				<sort_order>91</sort_order>
				<children>
					<items module="puntivendita">
						<title>gestisci punti vendita!!!</title>
						<sort_order>0</sort_order>
						<action>puntivendita/adminhtml_puntivendita</action>
					</items>
					<caramelle>
						<title>gestisci caramelle</title>
						<sort_order>1</sort_order>
						<action>puntivendita/adminhtml_caramelle</action>
					</caramelle>
					<mkupfile>
						<title>test upload file</title>
						<sort_order>2</sort_order>
						<action>puntivendita/adminhtml_upfile</action>
					</mkupfile>
				</children>
			</puntivendita>
		</menu>
	</adminhtml>
	<global>
		<models>
			<puntivendita>
				<class>Artera_Puntivendita_Model</class>
				<resourceModel>puntivendita_mysql4</resourceModel>
			</puntivendita>
			<puntivendita_mysql4>
				<class>Artera_Puntivendita_Model_Mysql4</class>
				<entities>
					<puntivendita>
						<table>puntivendita</table>
					</puntivendita>
					<caramelle>
						<table>caramelle</table>
					</caramelle>
				</entities>
			</puntivendita_mysql4>
		</models>
		<resources>
			<puntivendita_setup>
				<setup>
					<module>Artera_Puntivendita</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</puntivendita_setup>
			<puntivendita_write>
				<connection>
					<use>core_write</use>
				</connection>
			</puntivendita_write>
			<puntivendita_read>
				<connection>
					<use>core_read</use>
				</connection>
			</puntivendita_read>
		</resources>
		<blocks>
			<puntivendita>
				<class>Artera_Puntivendita_Block</class>
			</puntivendita>
		</blocks>
		<helpers>
			<puntivendita>
				<class>Artera_Puntivendita_Helper</class>
			</puntivendita>
		</helpers>
	</global>
</config>