<?xml version="1.0" ?>
<config>
	<modules>
		<Artera_IdPrint>
			<version>0.2.0</version>
		</Artera_IdPrint>
	</modules>
	<global>
		<models>
			<idprint>
				<class>Artera_IdPrint_Model</class>
			</idprint>
		</models>
		<resources>
			<idprint_setup>
				<setup>
					<module>Artera_IdPrint</module>
					<class>Artera_IdPrint_Model_Resource_Eav_Mysql4_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection> 
			</idprint_setup>
			<idprint_write>
				<connection>
					<use>core_write</use>
				</connection>
			</idprint_write>
			<idprint_read>
				<connection>
					<use>core_read</use>
				</connection>
			</idprint_read> 
		</resources>
	</global>
	<frontend>
		<routers>
			<idprint>
				<use>standard</use>
				<args>
					<module>Artera_IdPrint</module>
					<frontName>idprint</frontName>
				</args>
			</idprint>
		</routers>
		<translate>
			<modules>
				<Artera_IdPrint>
					<files>
						<default>Artera_IdPrint.csv</default>
					</files>
				</Artera_IdPrint>
			</modules>
		</translate>
		<layout>
			<updates>
				<idprint>
					<file>idprint.xml</file>
				</idprint>
			</updates>
		</layout>
	</frontend>
	<default>
		<catalog>
			<idprint_config>
				<ind>http://www.idprint.it/soap_server.php</ind>
			</idprint_config>
		</catalog>
	</default>
</config>
