<?xml version="1.0" ?>
<config>
	<sections>
		<catalog>
			<groups>
				<idprint_config>
					<label translate="label">IdPrint</label>
					<sort_order>670</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>0</show_in_store>
					<fields>
						<ind translate="label">
							<label>Indirizzo</label>
							<frontend_type>text</frontend_type>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</ind>
						<key translate="label">
							<label>Chiave di accesso</label>
							<frontend_type>text</frontend_type>
							<sort_order>2</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</key>
					</fields>
				</idprint_config>
			</groups>
		</catalog>
	</sections>
</config>
