<?xml version="1.0"?>
<config>
    <modules>
        <Artera_Puntivendita>
            <version>0.1.0</version>
        </Artera_Puntivendita>
    </modules>
    <frontend>
        <routers>
            <puntivendita>
                <use>standard</use>
                <args>
                    <module>Artera_Puntivendita</module>
                    <frontName>puntivendita</frontName>
                </args>
            </puntivendita>
        </routers>
        <layout>
            <updates>
                <puntivendita>
                    <file>puntivendita.xml</file>
                </puntivendita>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<puntivendita>
				<use>admin</use>
				<args>
					<module>Artera_Puntivendita</module>
					<frontName>puntivendita</frontName>
				</args>
			</puntivendita>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<puntivendita module="puntivendita">
				<title>Puntivendita</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="puntivendita">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>puntivendita/adminhtml_puntivendita</action>
					</items>
				</children>
			</puntivendita>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Artera_Puntivendita>
							<title>Puntivendita Module</title>
							<sort_order>10</sort_order>
						</Artera_Puntivendita>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<puntivendita>
					<file>puntivendita.xml</file>
				</puntivendita>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <puntivendita>
                <class>Artera_Puntivendita_Model</class>
                <resourceModel>puntivendita_mysql4</resourceModel>
            </puntivendita>
            <puntivendita_mysql4>
                <class>Artera_Puntivendita_Model_Mysql4</class>
                <entities>
                    <puntivendita>
                        <table>puntivendita</table>
                    </puntivendita>
                </entities>
            </puntivendita_mysql4>
        </models>
        <resources>
            <puntivendita_setup>
                <setup>
                    <module>Artera_Puntivendita</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </puntivendita_setup>
            <puntivendita_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </puntivendita_write>
            <puntivendita_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </puntivendita_read>
        </resources>
        <blocks>
            <puntivendita>
                <class>Artera_Puntivendita_Block</class>
            </puntivendita>
        </blocks>
        <helpers>
            <puntivendita>
                <class>Artera_Puntivendita_Helper</class>
            </puntivendita>
        </helpers>
    </global>
</config>