<?xml version="1.0"?>
<config>
    <modules>
        <Artera_Ordercli>
            <version>0.1.0</version>
        </Artera_Ordercli>
    </modules>
    <frontend>
        <routers>
            <ordercli>
                <use>standard</use>
                <args>
                    <module>Artera_Ordercli</module>
                    <frontName>ordercli</frontName>
                </args>
            </ordercli>
        </routers>
        <layout>
            <updates>
                <ordercli>
                    <file>ordercli.xml</file>
                </ordercli>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<ordercli>
				<use>admin</use>
				<args>
					<module>Artera_Ordercli</module>
					<frontName>ordercli</frontName>
				</args>
			</ordercli>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<ordercli module="ordercli">
				<title>Ordercli</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="ordercli">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>ordercli/adminhtml_ordercli</action>
					</items>
				</children>
			</ordercli>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Artera_Ordercli>
							<title>Ordercli Module</title>
							<sort_order>10</sort_order>
						</Artera_Ordercli>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<ordercli>
					<file>ordercli.xml</file>
				</ordercli>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <ordercli>
                <class>Artera_Ordercli_Model</class>
                <resourceModel>ordercli_mysql4</resourceModel>
            </ordercli>
            <ordercli_mysql4>
                <class>Artera_Ordercli_Model_Mysql4</class>
                <entities>
                    <ordercli>
                        <table>ordercli</table>
                    </ordercli>
                </entities>
            </ordercli_mysql4>
        </models>
        <resources>
            <ordercli_setup>
                <setup>
                    <module>Artera_Ordercli</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ordercli_setup>
            <ordercli_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ordercli_write>
            <ordercli_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ordercli_read>
        </resources>
        <blocks>
            <ordercli>
                <class>Artera_Ordercli_Block</class>
            </ordercli>
        </blocks>
        <helpers>
            <ordercli>
                <class>Artera_Ordercli_Helper</class>
            </ordercli>
        </helpers>
    </global>
</config>