<?xml version="1.0"?>
<config>
    <modules>
        <Artera_Afm>
            <version>0.1.0</version>
        </Artera_Afm>
    </modules>
    <frontend>
        <routers>
            <afm>
                <use>standard</use>
                <args>
                    <module>Artera_Afm</module>
                    <frontName>afm</frontName>
                </args>
            </afm>
        </routers>
        <layout>
            <updates>
                <afm>
                    <file>afm.xml</file>
                </afm>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<afm>
				<use>admin</use>
				<args>
					<module>Artera_Afm</module>
					<frontName>afm</frontName>
				</args>
			</afm>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<afm module="afm">
				<title>Afm</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="afm">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>afm/adminhtml_afm</action>
					</items>
				</children>
			</afm>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Artera_Afm>
							<title>Afm Module</title>
							<sort_order>10</sort_order>
						</Artera_Afm>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<afm>
					<file>afm.xml</file>
				</afm>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <afm>
                <class>Artera_Afm_Model</class>
                <resourceModel>afm_mysql4</resourceModel>
            </afm>
            <afm_mysql4>
                <class>Artera_Afm_Model_Mysql4</class>
                <entities>
                    <afm>
                        <table>afm</table>
                    </afm>
                </entities>
            </afm_mysql4>
        </models>
        <resources>
            <afm_setup>
                <setup>
                    <module>Artera_Afm</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </afm_setup>
            <afm_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </afm_write>
            <afm_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </afm_read>
        </resources>
        <blocks>
            <afm>
                <class>Artera_Afm_Block</class>
            </afm>
        </blocks>
        <helpers>
            <afm>
                <class>Artera_Afm_Helper</class>
            </afm>
        </helpers>
    </global>
</config>