<?xml version="1.0"?>
<config>
    <modules>
        <Artera_Search>
            <version>0.1.0</version>
        </Artera_Search>
    </modules>
    <frontend>
        <routers>
            <search>
                <use>standard</use>
                <args>
                    <module>Artera_Search</module>
                    <frontName>search</frontName>
                </args>
            </search>
        </routers>
        <!--<layout>
            <updates>
                <search>
                    <file>search.xml</file>
                </search>
            </updates>
        </layout>-->
    </frontend>
    <global>
        <blocks>
            <search>
                <class>Artera_Search_Block</class>
            </search>
        </blocks>
        <helpers>
            <search>
                <class>Artera_Search_Helper</class>
            </search>
        </helpers>
    </global>
</config>