<?xml version="1.0" ?>
<config>
	<modules>
		<Artera_Spicer>
			<version>0.6.0</version>
		</Artera_Spicer>
	</modules>
	<global>
		<models>
			<spicer>
				<class>Artera_Spicer_Model</class>
				<resourceModel>spicer_mysql4</resourceModel>
			</spicer>
			<spicer_mysql4>
				<class>Artera_Spicer_Model_Mysql4</class>
				<entities>
					<spicer>
						<table>spicer</table>
					</spicer>
					<spicercatalogo>
						<table>spicercatalogo</table>
					</spicercatalogo>
				</entities>
			</spicer_mysql4>
		</models>
		<helpers>
			<spicer>
				<class>Artera_Spicer_Helper</class>
			</spicer>
		</helpers>
		<resources>
			<spicer_setup>
				<setup>
					<module>Artera_Spicer</module>
					<class>Artera_Spicer_Model_Resource_Eav_Mysql4_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</spicer_setup>
			<spicer_write>
				<connection>
					<use>core_write</use>
				</connection>
			</spicer_write>
			<spicer_read>
				<connection>
					<use>core_read</use>
				</connection>
			</spicer_read>
		</resources>
	</global>
</config>
